* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.6rem;
  background-color: #60a5fa;
  color: #111827;
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* Header and Footer adjustments */
#header-title {
  margin-bottom: -7rem;
}

#footer-text {
  margin-top: -6.5rem;
}

/* container adjustments */
#container-left {
  margin-left: 4rem;
  padding: 1.5rem;
}

#container-right {
  margin-right: 4rem;
}

/* form adjustments */
#container-left form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* Button adjustments */
#add-todo-button,
#filter-all-button,
#clear-todos-button {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  background-color: #3b82f6;
  padding: 0.2rem;
  flex-direction: row;
}
